[submodule "thirdParty/glm"]
	path = thirdParty/glm
	url = git@github.com:g-truc/glm.git
[submodule "thirdParty/glfw"]
	path = thirdParty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "thirdParty/FFmpeg"]
	path = thirdParty/FFmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
[submodule "DevelopDiary"]
	path = DevelopDiary
	url = git@github.com:yyx112358/DevelopDiary.git
[submodule "thirdParty/spdlog"]
	path = thirdParty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "thirdParty/imgui"]
	path = thirdParty/imgui
	url = git@github.com:ocornut/imgui.git
